
html,body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#navbar{
    background-color: #009688;
    height: 50px;
}

#navbar ul{
    list-style-type: none;
    height: inherit;
    margin-bottom: 0%;
    
}

#navbar li{
    display: inline;
    color: aliceblue;
    font-size: 24px;
    padding-top: 5px;
}

.area{
    height: calc(100% - 50px);
}

 #title{
    float: left;
}

#counter{
    float: right;
    padding-right: 10px;
}

#firstTxtArea{
    height: 50%;
}

#secondTxtArea{
    height: 50%;
}